<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div>
    <div class="header">
      <div class="header-title"><%= htmlWebpackPlugin.options.title %></div>
    </div>
    <div class="left">
      <!-- <div class="box">
        <div class="box-header">
          <div class="box-title">title</div>
          <div class="box-content">content</div>
        </div>
      </div> -->
      <div class="sm-panel" style="height: 20%;">
        <div class="sm-panel-content">
         <div class="sm-panel-heading">优质项目<span id="id-count" class="header-title"></span></div>
          <div class="sm-panel-body">
            <ul class="count-list">
              <li class="count-item">
                <div class="count-header">垃圾焚烧</div>
                <div id="id-count1" class="count-content"></div>
              </li>
              <li class="count-item">
                <div class="count-header">生物废弃物</div>
                <div id="id-count3" class="count-content"></div>
              </li>
              <li class="count-item">
                <div class="count-header">再生资源</div>
                <div id="id-count4" class="count-content"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="sm-panel" style="height: 40%;">
        <div class="sm-panel-content">
         <div class="sm-panel-heading">城市覆盖<span id="id-cityOver" class="header-title"></span></div>
          <div class="sm-panel-body">
            <div id="id-wordCloud" style="height: 100%;">dgdf</div>
          </div>
        </div>
      </div>
      <div class="sm-panel" style="height: 40%;">
        <div class="sm-panel-content">
         <div class="sm-panel-heading">处理规模</div>
          <div class="sm-panel-body">
            <ul class="count-list" style="height: 100%;">
              <li class="count-item" style="width: 50%;height: 100%;">
                <div id="id-scaleList0" style="width: 100%;height: 100%;"></div>
              </li>
              <li class="count-item" style="width: 50%;height: 100%;">
                <div id="id-scaleList1" style="width: 100%;height: 100%;"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <!-- <div class="box">
        <div class="box-header">
          <div class="box-title">title</div>
          <div class="box-content">content</div>
        </div>
      </div> -->
      <div class="sm-panel">
        <div class="sm-panel-content">
         <div class="sm-panel-heading">&nbsp;</div>
          <div class="sm-panel-body">
            <div>dgdf</div>
          </div>
        </div>
      </div>
      <div class="sm-panel">
        <div class="sm-panel-content">
         <div class="sm-panel-heading">&nbsp;</div>
          <div class="sm-panel-body">
            <div>dgdf</div>
          </div>
        </div>
      </div>
      <div class="sm-panel">
        <div class="sm-panel-content">
         <div class="sm-panel-heading">&nbsp;</div>
          <div class="sm-panel-body">
            <div>dgdf</div>
          </div>
        </div>
      </div>
    </div>
    <div id="webgl-content"></div>
  </div>
</body>
</html>
